<h1>Admin &raquo; Dashboard</h1>

<div style="font-size: 20px">
  There are currently 
  <strong><%= @total_products %></strong>
  pieces of <%= link_to 'products', controller:'products' %> in the store!
</div>

<div style="font-size: 20px">
  There are currently 
  <strong><%= @total_categories %></strong>
  <%= link_to 'categories', admin_categories_path %> of products in the store!
</div>